.App {
  text-align: center;
}
.textfield1{
  width: 170%;
  border-radius: 70px;
}
.textfield2{
  width: 170%;
  border-radius: 70px;
}
.textfield3{
  width: 170%;
  border-radius: 70px;
}
.submitbutton{
  width: 5%;
  border: 40%;
}
.text{
  width: 300px;
}
p{
  font-size: 11px;
  color: red;
}



@media (min-width : 1000px) {

}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
